#cover-section {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
}
#cover-section .media {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cover-text {
  position: absolute;
  color: #fff;
  bottom: 4rem;
  left: 2rem;
}
.cover-text h2 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: normal;
  margin-bottom: 0;
}
.cover-text .details {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 300;
  font-style: italic;
}
.cover-text .status {
  margin-top: 18px;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 300;
}
.director-section, .synopsis-section {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5rem;
  align-items: flex-start;
  position: relative;
}
.director-text, .synopsis-text {
  width: 63%;
}
.director-text h5, .synopsis-text h5 {
  font-weight: 400;
  line-height: 38px;
  text-align: justify;
  margin-bottom: 0;
}
.synopsis-text h5 {
  margin-bottom: 3rem;
}
.director-image {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.synopsis-image {
  width: 30%;
  align-self: flex-start;
  text-align: center;
}
.director-image img {
  width: 100%;
}
.synopsis-image img {
  width: 55%;
}
.synopsis-link {
  max-height: 20px;
  overflow: hidden;
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 1rem;
}
.synopsis-link img {
  height: 1rem;
  width: auto;
  margin-right: 5px;
}
.synopsis-link p {
  margin-bottom: 0;
  color: #232323;
  font-weight: bold;
}

.cast-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}
.cast-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cast {
  width: 25%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.cast.coming-soon {
border-radius: 0;
}
.cast img {
  width: 100%;
  display: block
}
.cast-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 50%);
}
.cast h6 {
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.15em;
}

.photo-container {
  padding: 0 2.125rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 5rem;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #cover-section .media {
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .director-section {
    flex-direction: column-reverse;
  }
  .synopsis-section {
    flex-direction: column;
  }
  .director-text, .synopsis-text {
    width: 100%;
  }
  .director-text h5, .synopsis-text h5 {
    text-align: left;
    line-height: 34px;
  }
  .director-image {
    width: 100%;
    margin-bottom: 2rem;
  }
  .synopsis-image {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .cast {
    width: calc(50% - 1rem);
  }
  .cast h6 {
    line-height: 1.4em;
  }
  .photo-container {
    flex-direction: column;
  }
}
