/* Homepage */
.home {
  position: relative;
  width: 100%;
  background-color: white;
}
#landing-section {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
}
#landing-section.small {
  height: 55vh;
  min-height: 450px;
}
#landing-section .media {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing-text {
  position: absolute;
  color: #fff;
  top: calc(50% + 30px);
  left: 3.75rem;
  transform: translateY(-50%);
}
.landing-text h2 {
  font-family: 'PT Sans', sans-serif;
  line-height: 2.875rem;
  font-weight: bold;
}
.landing-text h2 span {
  color: #ee4723;
}
.learn-more-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  text-align: center;
  cursor: pointer;
}
.learn-more-container p {
  font-size: 14px;
  color: rgba(255,255,255,.7);
  margin-bottom: 0;
}
.learn-more-container img {
  height: 8px;
  width: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6.5rem;
}
.service-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.service {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.service img {
  width: 100%;
  display: block;
}
.service h6 {
  text-align: center;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-submit {
  width: 20vw;
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
  max-width: 200px;
}
/* TESTIMONIAL */
.quote-container {
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.5rem;
  margin-bottom: 5rem;
}
.quote {
  position: relative;
}
.quote:focus {
  outline: none;
}
.quote h5 {
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
}

.quote .author {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.author .name {
  color: #777;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.3em;
  letter-spacing: 1px;
}
.author .title {
  color: #777;
  text-align: center;
  font-weight: 300;
  right: 0;
  line-height: 1.3em;
  letter-spacing: 1px;
}

/* ABOUT */
.about-text {
  width: 72%;
  margin-top: 4.5rem;
}
.about-text h5{
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
}
.team {
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-row {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
.team-quote {
  font-size: 12px;
  text-align: center;
}
.member {
  width: 15%;
  border-radius: 50%;
  overflow: hidden;
  margin: 2% 2%;
  position: relative;
  cursor: pointer;
}
.member img {
  width: 100%;
  display: block;
  margin-bottom: 0;
}
.member .team-overlay img {
  width: 25%;
  margin: auto;
}
.team-overlay {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(255,85,0,.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  transition: .3s ease;
}
.member.active .team-overlay {
  height: 100%;
  pointer-events: none;
}
.team-overlay p {
  margin-bottom: 50%;
  line-height: 1em;
}
.linkedin {
  position: absolute;
  z-index: 10;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  opacity: 0;
  transition: 0.2s ease;
  cursor: pointer;
  pointer-events: none;
}
.member.active .linkedin {
  opacity: 1;
  bottom: 15%;
  transition-delay: .1s;
  pointer-events: all;
}

.advisor-container {
  margin-top: 4.25rem;
  padding: 0 3rem;
}
.advisors {
  display: flex;
}
.advisor {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 45%;
  margin: auto;
}
.advisor-container h5 {
  position: relative;
  margin-top: 4rem;
  font-weight: 600;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #232323;
}
.advisor img {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.form-container {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.form-container .form {
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-component {
  height: 25%;
}
.form-component.multiple, .form-component.tall {
  height: 50%;
}
.form-component.multiple div {
  height: 50%;
}
.form-component label {
  font-size: 20px;
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
.form-component .form-input, .form-component textarea {
  height: 56px;
  display: block;
  border: 1px solid #232323;
  width: 100%;
  font-size: 20px;
  padding: 0 1.5rem;
  border-radius: 0;
}
.form-component textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.form-component .dropdown  .form-input {
  display: flex;
  align-items: center;
}
.form-component .drop-arrow {
  border-color: #232323 transparent transparent;
  top: 22px;
  right: 1.5rem;
  border-width: 10px 10px 0;
}
.form-component .drop-menu {
  border-color: #232323;
}
.form-component .drop-option {
  padding: 16px 1.5rem;
  font-size: 20px;
}
.form-component .drop-option:hover {
  background-color: #eee;
}
.form-component textarea {
  resize: none;
  height: 218px;
}
.small {
  width: calc(29% - 2rem);
}
.medium {
  width: 42%;
}
.large {
  width: calc(58% - 2rem);
}
.form-submit {
  float: right;
}

/* MOBILE */
@media only screen and (max-width: 480px) {
  #landing-section .media {
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  #landing-section.small .media {
    height: 100%;
  }
  .landing-text {
    left: 0;
    padding: 0 2.125rem;
  }
  .landing-text h2 {
    line-height: 3.25rem;
    font-weight: bold;
  }
  .service {
    width: calc(50% - 1rem);
    height: unset;
    margin-bottom: 2rem;
  }
  .service-submit {
    width: calc(50% - 1rem);
    margin-top: 4rem;
  }
  .quote-container {
    width: 100%;
  }
  .quote .author {
    width: 70%;
  }
  .about-text {
    width: 100%;
  }
  .about-text h5 {
    text-align: left;
  }
  .team-row {
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .member {
    width: 45%;
    margin: 1rem 1%;
  }
  .advisor-container {
    margin-top: 2rem;
  }
  .advisor-container h5 {
    margin-top: 3rem;
  }
  .advisor {
    width: 85%
  }
  .form-container .form {
    height: unset;
  }
  .form-component {
    margin-bottom: 3rem;
  }
  .form-component.multiple{
    margin-bottom: 0;
  }
  .form-component.multiple div {
    margin-bottom: 3rem;
  }
  .small, .medium, .large {
    width: 100%;
  }
}
